		body {
			width: 80%;
			margin: 0 auto;
			background-image: url("Images/ForestMyst.gif");
			background-repeat: no-repeat;
			background-size: cover;
			font-family: 'MedievalSharp', cursive; 
			font-size: 17px;
		}

		.div1 {
			min-width: 1000px;
		}

		.menu {
			background-color: #4f6535;
			opacity: 0.90;
			font-weight: bold;
			list-style-type: none;
			overflow: hidden;
			padding-top: 5px;
			padding-bottom: 5px;
		}
			
		.heading {
			width: 100%;
			height: 90px;
			margin: 0% 0% 1% 0%;
		}

		.collumns {
			height: 950px;
			margin: 0px 0px 50px 0px;
		}

		.logo {
			background-color: #988255;
			opacity: 0.90;
			border-radius: 10px;
			width: 24%;
			height: 100px;
			padding-left: 1%;
			float: left;
		}

		.main-details {
			background-color: #988255;
			opacity: 0.95;
			border-radius: 10px;
			width: 74%;
			height: 100px;
			float: right;
			padding-left: 2px;
		}
		.AbilityAndStatus {
			background-color: #988255;
			opacity: 0.95;
			border-radius: 10px;
			width: 33%;
			float: left;
			margin: 1% 0.5% 0% 0%;
			height: 950px;
		}

		.AbilityScores {
			border-radius: 10px;
			width: 30%;
			float: left;
			margin: 1% 1% 1% 1%;
			height: 68%;
		}

		.AbilityModifiers {
			
			opacity: 0.95;
			border-radius: 10px;
			width: 66%;
			float: right;
			margin: 1% 1% 1% 1%;
			height: 68%;
		}

		.Ability {
			background-color: #c7a765;
			text-align: center;
			opacity: 0.95;
			border-radius: 10px;
			width: 100%;
			margin: 1% 1% 2% 1%;
			height: 16.35%;
		}

		.OneRule {
			background-color: #c7a765;
			text-align: left;
			line-height: 30px;
			opacity: 0.95;
			border-radius: 10px;
			width: 98%;
			margin: 0.5% 1% 2% 1%;
			height: 30px;
		}

		.LeftAlignedForm {
			text-align: left;
			margin: 0.5% 1% 2% 5%;
		}

		.SavingThrows {
			background-color: #c7a765;
			text-align: center;
			opacity: 0.95;
			border-radius: 10px;
			width: 98%;
			margin: 1% 1% 2% 1%;
			height: 24%;
		}

		.Skills {
			background-color: #c7a765;
			text-align: center;
			opacity: 0.95;
			border-radius: 10px;
			width: 98%;
			margin: 1% 1% 2% 1%;
			height: 64%;
		}

		.PassivePerception {
			background-color: #c7a765;
			text-align: center;
			opacity: 0.95;
			float: left;
			border-radius: 10px;
			width: 98%;
			margin: 1% 1% 2% 1%;
			padding-top: 11px;
			height: 4%;
		}

		.OtherProficiencies {
			background-color: #c7a765;
			text-align: center;
			opacity: 0.95;
			float: left;
			border-radius: 10px;
			width: 98%;
			margin: 1% 1% 2% 1%;
			padding-top: 10px;
			height: 21.8%;
		}

		.TextArea {
			background-color: #d2af68;
			width: 80%;
		}

		.TextAreaLarge {
			background-color: #d2af68;
			width: 145%;
		}

		.ArmorAndSpeed {
			background-color: #c7a765;
			float: left;
			text-align: center;
			opacity: 0.95;
			border-radius: 10px;
			width: 31.3%;
			margin: 1% 1% 1% 1%;
			height: 7.5%;
		}

		.HitPoints {
			background-color: #c7a765;
			float: left;
			text-align: center;
			opacity: 0.95;
			border-radius: 10px;
			width: 98%;
			margin: 0% 1% 1% 1%;
			height: 11%;
		}

		.HitDice {
			background-color: #c7a765;
			float: left;
			text-align: center;
			opacity: 0.95;
			border-radius: 10px;
			width: 48%;
			margin: 0% 1% 1% 1%;
			height: 8%;
		}

		.AttacksAndSpellcasting {
			background-color: #c7a765;
			float: left;
			text-align: center;
			opacity: 0.95;
			border-radius: 10px;
			width: 98%;
			margin: 0% 1% 1% 1%;
			height: 40%;
		}

		.NameAndATKBonus {
			background-color: #c7a765;
			float: left;
			text-align: center;
			opacity: 0.95;
			border-radius: 10px;
			width: 22.5%;
			margin: 1% 1% 1% 1%;
			height: 97%;
		}

		.ATKBonusAndDamage {
			background-color: #c7a765;
			float: left;
			text-align: center;
			opacity: 0.95;
			border-radius: 10px;
			width: 49%;
			margin: 1% 1% 1% 1%;
			height: 97%;
		}

		.Equipment {
			background-color: #c7a765;
			float: left;
			text-align: center;
			opacity: 0.95;
			border-radius: 10px;
			width: 98%;
			margin: 2% 1% 1% 1%;
			height: 29%;
		}

			.Money {
				background-color: #c7a765;
				float: left;
				text-align: left;
				opacity: 0.95;
				border-radius: 10px;
				width: 20%;
				margin: 1% 1% 1% 1%;
				height: 7%;
			}

			.Items {
				background-color: #c7a765;
				float: left;
				text-align: center;
				opacity: 0.95;
				border-radius: 10px;
				width: 50%;
				margin: 1% 1% 1% 1%;
				height: 7%;
			}

		.features {
			background-color: #988255;
			opacity: 0.95;
			border-radius: 10px;
			width: 33%;
			float: right;
			margin: 1% 0% 0% 0%;
			height: 950px;
		}

		.CharacterTraits {
			background-color: #c7a765;
			float: left;
			text-align: center;
			opacity: 0.95;
			border-radius: 10px;
			width: 98%;
			margin: 1% 1% 1% 1%;
			height: 11%;
		}

		.FeaturesAndTraits {
			background-color: #c7a765;
			float: left;
			text-align: center;
			opacity: 0.95;
			border-radius: 10px;
			width: 98%;
			margin: 1% 1% 1% 1%;
			height: 50.5%;
		}

		li {
			float: left;
			padding-right: 16px;
		}

.form-strings {
	width: 80%;
	background-color: #d2af68;
	opacity: 0.95;
}
.form-details-seperator {
	width: 24%;
	float: left;
	margin: 5px 0px 5px 5px;
}

.form-number {
	width: 25%;
	text-align: center;
	font-size: 18px;
	background-color: #d2af68;
	opacity: 0.95;
}

.form-number-small {
	width: 25%;
	height: 15px;
	text-align: center;
	font-size: 17px;
	background-color: #d2af68;
	opacity: 0.95;
}

.form-number-narrow {
	width: 8%;
	height: 15px;
	text-align: center;
	font-size: 17px;
	background-color: #d2af68;
	opacity: 0.95;
}

.form-number-long {
	width: 40%;
	height: 15px;
	text-align: center;
	font-size: 17px;
	background-color: #d2af68;
	opacity: 0.95;
}

.form-number-margin {
	width: 25%;
	margin: 1.5% 5% 0% 0%;
	text-align: center;
	font-size: 18px;
	background-color: #d2af68;
	opacity: 0.95;
}

.DropDownNarrow {
	width: 33.5%;
}

.checkbox {
	background-color: #d2af68;
}

.RemoveDefault {
	margin: -14%;
}